.header-cont {
	max-width: 1000px;
	min-width: 320px;
	padding: 20px;
	margin: 0 auto;
}

#head{
	text-align: center;
}

.contents{
	margin: 0 150px 0 150px;
	min-width: 100px;
}

.search {
	display: flex;
	justify-content: center;
}

input{
	width: 100%;
	height: 30px;
	font-size: 18px;
}

input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.search-text{
	width: 620px;
}

.search-button{
	background: url(search.png) no-repeat center center;
	background-size: contain;
	margin-left: 5px;
	color: transparent;
	height: 30px;
	width: 50px;
	border: none;
	cursor: pointer
}

.content{
	text-align: center;
	margin-top: 50px;
}

.btnm{
	display: flex;
	justify-content: center;
}

.btnmain{
	display: inline-block;
	width: 135px;
	justify-content: center;
    background-color:  #3d3434f3;
    border: none;
    color: white;
    padding: 12px 30px;
	margin: 100px 15px 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.btnmain:hover {
    background-color: #3d3434ad;
}