{% extends "base.html" %}

{% load static %}

{% block title %}
    Электронная библиотека - Поиск
{% endblock %}

{% block css %}
	{% static 'css/page-4.css' %}
{% endblock %}

{% block content %}
<body>
	<div class="backgr">
		<div class="header-cont fix">
			<div id="logotype">
				<img id="logo" src="static/css/logo.png">
			</div>

			<form method="GET" class="search">
				{% csrf_token %}
				<div class="search-text">
					<input type="text" name="search_string" placeholder="Что хотите найти?">
				</div>

				<div>
					<input type="submit" name="" class="search-button">
				</div>
			</form>
			
			<div class="profile">
				<!-- <div>
					<img id="profilelogo" src="static/css/profile-2.jpeg">
				</div> -->

				<div class="profile dropdown">
					<img onclick="myFunction()" class="dropbtn" id="profile-logo" src="static/css/profile-2.jpeg">
						<div id="myDropdown" class="dropdown-content">
						   <a href="#like">Избранное</a><hr style="background-color: black; height: 1px; margin: 0">
						   <a href="#exit">Выход</a>
					   </div>
   
				   <script>
					   /* When the user clicks on the button, 
					   toggle between hiding and showing the dropdown content */
					   function myFunction() {
						   document.getElementById("myDropdown").classList.toggle("show");
					   }
   
					   // Close the dropdown if the user clicks outside of it
					   window.onclick = function(event) {
						 if (!event.target.matches('.dropbtn')) {
   
						   var dropdowns = document.getElementsByClassName("dropdown-content");
						   var i;
						   for (i = 0; i < dropdowns.length; i++) {
							 var openDropdown = dropdowns[i];
							 if (openDropdown.classList.contains('show')) {
							   openDropdown.classList.remove('show');
							 }
						   }
						 }
					   }
				   </script>

					<div id="profilename">
						<p>Васильева<br>Виктория</p>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="block-book fix">
		<ul>
			{% for content in object_list %}

				<div class="book1">
					<hr>
					<div class="cont">
						<div class="pic">
							<img src="{{ content.image }}">
						</div>
		
						<div class="title-author">
							<div id="author" style="color: black;">{{ content.author }}</div>
							<div id="title">{{ content.title }}</div>
							<div id="bo">{{ content.bo }}</div>
						</div>

						<div>
							<button class="btn">Читать</button>
							<button class="btn">Скачать</button>
						</div>

					</div>
					<hr>
				</div>	


			{% endfor %}
		</ul>
	</div>

</body>
{% endblock %}