{% extends "base.html" %}

{% load static %}

{% block title %}
    Электронная библиотека - Поиск
{% endblock %}

{% block css %}
	{% static 'css/page-4.css' %}
{% endblock %}

{% block content %}
<body>
	<div class="backgr">
		<div class="header-cont fix">
			<div id="logotype">
				<img id="logo" src="static/css/logo.png">
			</div>

			<div class="search ">
				<div class="search-text">
					<input type="text" name="" placeholder="Что хотите найти?">
				</div>

				<div>
					<input type="submit" name="" class="search-button">
				</div>
			</div>
			
			<div class="profile">
				<div>
					<img id="profilelogo" src="static/css/profile-2.jpeg">
				</div>
				<div id="profilename">
					<p>Васильева<br>Виктория</p>
				</div>
	   		</div>

		</div>
	</div>	

	<div class="block-book fix">
		<div class="book1">
			<hr>
			<div class="cont">
				<div class="pic">
					<img src="static/css/painbook.png">
				</div>

				<div class="title-author">
					<div id="author" style="color: black;">Автор</div>
					<div id="title">Название</div>
					<div id="bo">Библиографическое описание</div>
				</div>
			</div>
			<hr>
		</div>	

		<div class="book1">
			<hr>
			<div class="cont">
				<div class="pic">
					<img src="static/css/painbook.png">
				</div>

				<div class="title-author">
					<div id="author" style="color: black;">Автор</div>
					<div id="title">Название</div>
					<div id="bo">Библиографическое описание</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

</body>
{% endblock %}