{% extends "base.html" %}

{% load static %}

{% block title %}
    Расширенный поиск
{% endblock %}

{% block css %}
	{% static 'css/main-css.css' %}
{% endblock %}

{% block content %}
    <form>
        <input type="search" name="search_author" placeholder="Автор">
        <input type="search" name="search_title" placeholder="Название">
    
        <p><select name="razdel">
         <optgroup label="Прикладная информатика">
          <option value="r1">Сайтостроение</option>
          <option value="r2">Алгоритмизация</option>
          <option value="r3">ОСиС</option>
         </optgroup>
         <optgroup label="Библиотечное дело">
          <option value="u1">БИС</option>
          <option value="u2">АСОД</option>
          <option value="u3">БФ</option>
         </optgroup>
        </select></p>

        <input type="submit" name=""> 

    </form>

{% endblock %}