{% extends "base.html" %}

{% load static %}

{% block title %}
	Электронная библиотека - Регистрация
{% endblock %}

{% block css %}
	{% static 'css/lib.css' %}
{% endblock %}

{% block content %}
	<main>
		<div>
            <div id="head">
                <img id="logo" src="static/css/logotype.png">
            </div>
        </div>
			<form method="POST">
				{% csrf_token %}

				<div class="registr">
					<h1 class="reg">Регистрация</h1>
					<div class="forms">
						<div class="form">
							<input type="text" name="username" placeholder="Логин">
						</div>
						<div class="form">
							<input type="password" name="password" placeholder="Пароль">
						</div>
						<div class="form">
							<input type="password" name="pass_retry" placeholder="Подтвердите пароль">
						</div>
					</div>

					<div class="buttons">
						<button type='submit' class="button">Регистрация</button>
						<!-- <input class="button" type='submit' value="Sign Up">Регистрация</input> -->
					</div>
			</form>

			<div class="enter">
				<p>Вы уже зарегистрированы?</p>
				<a href="/signin" class="button-enter">Тогда войдите</a>
			</div>
		</div>

		<div class="btnsignup">
			<button class="btnup">Справка</button>
		</div>

	</main>
	{% endblock %}
