{% extends "base.html" %}

{% load static %}

{% block title %}
    Справка пользователя
{% endblock %}

{% block css %}
	{% static '' %}
{% endblock %}

{% block content %}

<body>

    <h1>Справка пользователя</h1> 
    <p>Общие сведения
    Электронная книжная выставка «Весна и женщина так похожи…» посвящена международному женскому дню - 8 марта!
    Книги, представленные на выставке, повествуют о выдающихся женщинах, которые оставили свой след в истории, политике, спорте, культуре. 
    На выставке можно увидеть научно-популярную литературу, художественные произведения авторов современных и классических произведений, а также книги выдающихся женщин-поэтов.
    Технические требования к системе 
    Электронная книжная выставка «Весна и женщина так похожи…» работает в браузерах: Google Chrome, Mozilla Firefox, Opera, Internet Explorer. Сайт адаптирован под мобильные устройства, планшеты, ноутбуки и компьютеры. 
    Навигация по сайту
    Чтобы перейти в интересующий вас раздел литературы, необходимо на главной странице спуститься вниз и нажать на кнопку «смотреть книги». 
    Далее вы переходите на страницу с книгами, соответствующими разделу. Можете ознакомится с автором, названием, описанием книги и библиографической записью, после чего, при желании, нажав на кнопку «читать фрагмент» перейдете на текст, который опубликован на сайте Litres.ru. Текст открывается в новой вкладке. Чтобы закрыть текст необходимо закрыть вкладку litres с текстом.
    Чтобы перейти в меню с разделами выставки, кликните один раз на 


    Откроется меню для навигации по разделам.


    Чтобы перейти на главную страницу нажмите на кнопку «Главная страница» вверху страницы .

    Приятного чтения!</p>


    </body>

{% endblock %}