{% extends "base.html" %}

{% load static %}

{% block title %}
    Справка пользователя
{% endblock %}

{% block css %}
	{% static 'css/spravka.css' %}
{% endblock %}

{% block content %}

<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <ul>
        <li><a href="{% url 'poisk' %}">Расширенный поиск</a>
        <li><a href="{% url 'main' %}">На главную</a>
        <li><a href="#">Избранное</a> 
        <li><a href="{% url 'spravka' %}">Справка</a> 
        <li><a href="{% url 'logout' %}">Выход</a>
    </ul>
</nav>
<div class="mask-content"></div>


<h1>СПРАВКА ПОЛЬЗОВАТЕЛЯ</h1>

<div class="fix">
     
    <h2>Общие сведения</h2>
    
    <h2>Приятного чтения!</h2>
</div>

{% endblock %}